:root {
    --primary-color: rgb(212, 146, 77, 1);
    --secondary-color: rgb(59, 59, 59);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("Project_img/pared.webp");
    color: #222;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 25px;
    text-align: left;
    font-weight: bold;
}

p {
    text-align: center;
}

blockquote {
    text-align: center;
}

#div_bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh; 
    background-color: var(--secondary-color); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#menu {
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#imagen_business{
    align-content: center;
    align-items: center;
    transform: translateX(15%); 
}

#iconos {
    margin-top: 5%;
    display: flex;
    gap: 30px;
}

.menu_element a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
}

#products {
    text-align: justify;
    margin-left: 220px;
}

.product {
    border: 2px solid var(--primary-color);
    margin: 20px auto;
    padding: 25px;
    width: 75%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.product2 {
    border: 2px solid var(--primary-color);
    margin: 20px auto;
    padding: 25px;
    width: 75%;
    border-radius: 15px;    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

h2 {
    color: var(--secondary-color);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #222;
    border: 1px dashed var(--secondary-color);
    background-color: grey;
}

table, th, td {
    border: 1px dashed var(--secondary-color);
    background-color: grey;
}

th, td {
    padding: 12px;
    text-align: center;
}

a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    color:var(--secondary-color);
}

#div_downbar {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0%;
    margin-right: 0%;
}
